@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

  * {
    font-family: 'Montserrat', sans-serif;
  }

  .fadeIn {
    opacity: 0;
    animation: fade-in 0.3s forwards;
  }
  
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }