@tailwind base;
:root {
  --cWhite: #FFFFFF;
  --cBG: #3A4750;
  --cDark: #2f4565;
  --cGray: #eceef0;
  --cBlue: rgba(58,134,254,1);
  --cGreen: rgba(38,174,96,1);
  --cPurple: rgba(136,86,242,1);
  --cRed: rgb(249,64,67,1);
}

/* Firefox */
* {
scrollbar-width: thin;
scrollbar-color: var(--cWhite) var(--cDark);
scroll-behavior: smooth;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 12px;
}

*::-webkit-scrollbar-track {
background: var(--cDark);
border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
background-color: var(--cWhite);
border-radius: 14px;
border: 3px solid var(--cDark);
}
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

  * {
    font-family: 'Montserrat', sans-serif;
  }

  .fadeIn {
    opacity: 0;
    animation: fade-in 0.3s forwards;
  }
  
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

