@tailwind base;
:root {
  --cHL:  #00ADB5;
  --cHLAlpha:  #00acb583;
  --cHL2: #d464e5;
  --cWhite: #EEEEEE;
  --cBG: #393E46;
  --cDark: #222831;
}

/* Firefox */
* {
scrollbar-width: thin;
scrollbar-color: var(--cWhite) var(--cDark);
scroll-behavior: smooth;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 12px;
}

*::-webkit-scrollbar-track {
background: var(--cDark);
border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
background-color: var(--cWhite);
border-radius: 14px;
border: 3px solid var(--cDark);
}
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

  * {
    font-family: 'Montserrat', sans-serif;
  }

  .fadeIn {
    opacity: 0;
    animation: fade-in 0.3s forwards;
  }
  
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

